*{
   box-sizing: border-box ;
   margin: 0;
   padding: 0;
}

.container{
    background-color: blue;
    margin-left: 35%;
    margin-right: 35%;
}

header{
    font-size: 24px;
    background: Black;
    color: white;
    font-family: fantasy;
    padding: 20px;
    text-align: center;
    clear: both;
}

h1{
    font-size: 16px;
    color: white;
    font-family: fantasy;
    padding: 20px;
    text-align: center;
    border-color: white;
    clear: both;
}

p{
    font-size: 16px;
    color: white;
    font-family: fantasy;
    padding: 20px;
    padding-top: 0;
    text-align: center;
    clear: both;
}



body{
    background-image: url("https://media3.giphy.com/media/vTS6Cgf7GacHS/giphy.webp");
}